<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/productDetail.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <!--Font awesowe -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
</head>
<body>

    <header>
        <div class="header__container">

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            

            <div class="logo"> <a href="/"> <img src="/images/logo.jpg" alt=""></a></div>

            <div class="header__carrito"><i class="fa-solid fa-cart-shopping"></i></div>
            <div class="header__user"> <a href="/login"><i class="fa-solid fa-user"></i></a></div>

        </div> 

        <div class="header-buscador">
               
            <div class="search-bar">
                <input class="busqueda" type="search" placeholder="Buscar productos, marcas"><button class="lupa">
                    <i class="fas fa-search"></i>
                </button>
            </div>

        </div>          
                
            <nav class="header__nav">
                
                <ul class="top-list">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="">Productos</a></li>
                    <li><a href="">Contactos</a></li>
                    <li><a href="">Quienes Somos</a></li>
                </ul>
            </nav>
                
    </header>  
    <main>
        <div class="detalle-producto">
            <div class="imagenes">
                <section class="imagen-principal">
                    <img src="images/arnes-verde.jpg" alt="">
                </section>
                <section class="imagen-secundaria">
                    <img src="images/arnes-fuccia.jpg" alt="">
                    <img src="images/arnes-lila.jpg" alt="">
                    <img src="images/arnes-negro.jpg" alt="">
                </section>
            </div>
            <div class="contenido-text">
                <section class="detalles">
                    <div>
                        <h2>Arnes Pretal Perros Ajustable Julius K9 Importado Baby 1</h2>
                    </div>
                    <br>
                    <p>Tamaño: Baby 1</p>
                    <p>Color: Verde Manzana</p>
                    <p></p>
                    <p>Cantidad:<input type="number" name="" id="" placeholder="1"></p>
                    <p>Costo: $7,329.00</p>
                    <p>Detalles:</p>
                    <p>JULIUS ARNES PRETAL K-9</p>  
                    <p>ORIGINAL IMPORTADO</p> 
                    <p>TALLE BABY 1</p> 
                    <br>
                    <p>Recomendados para perros cachorros y pequeños</p> 
                    <br>
                    <p>DESCRIPCIÓN:</p> 
                    <p>-Aspecto Renovado, innovador, deportivo, diseño dinámico.</p> 
                    <p>-Perfección ergonómica, tamaño ajustados en función de las líneas y Angulaciones de Tiro de cada raza.</p> 
                    <p>-Transpirable y forro interior hipoalergenico.</p> 
                    <p>-Etiquetas luminiscentes laterales Julius-K9 Products.</p> 
                    <p>-Alta Visibilidad, cinta para el pecho reflectante y bordes con pespunte reflectivo.</p> 
                    <p>-Area de Velcro mas amplia.</p> 
                    <br>
                    <p>ESTA PUBLICACIÓN CORRESPONDE AL TALLE BABY 1 - 2</p> 
                    <br>
                    <p>-MEDIDAS:</p> 
                    <br>
                    <p>TALLE BABY 1: Circunferencia del tórax: 29 - 36 cm</p> 
                    <p>Peso: 0,8 - 3 kg</p>
                    <div class="añadir-carrito">
                        <button>Agregar al carrito</button>
                    </div>
                </section>
            </div>
        </div>
        <div>
            <section class="producto-recomendados">
                <h3 class="product-title">Productos Recomendados</h3>
                <div class="listado-products-rec">
                    <article class="producto-rec">
                        <div class="imagen-producto-rec">
                            <img width="100%" src="images/img4.jpeg" alt="Cuerdas de juegos">
                        </div>                   
                        <div class="detalles-producto">
                            <div class="producto-favorito">
                                <h4 class="name-product">Nudos para jugar</h4>
                                <i class="fa-solid fa-heart"></i>
                            </div>
                            <div class="text-detalle">
                                <p>$4.500</p>
                                <p>Pelota realizada con sogas anudadas que además de servir para que el perro de divierta ayuda a la limpieza dental.</p>
                            </div>
                        </div>
                    </article>
                    <article class="producto-rec">
                        <div class="imagen-producto-rec">
                            <img width="100%" src="images/img6.jpg" alt="Colchón Liso">
                        </div>
                        <div class="detalles-producto">
                            <div class="producto-favorito">
                                <h4 class="name-product">Colchón Liso</h4>
                                <i class="fa-solid fa-heart"></i>
                            </div>
                            <div class="text-detalle">
                                <p>$1.550</p>
                                <p>Colchón liso forrado en tela de avión, rellenos con guata y copo.</p>
                            </div>
                            
                        </div>
                    </article>
                    <article class="producto-rec">
                        <div class="imagen-producto-rec">
                            <img width="100%" src="images/img7.jpg" alt="Platos de mascotas">
                        </div>                    
                        <div class="detalles-producto">
                            <div class="producto-favorito">
                                <h4 class="name-product">Plato Plegable de Siicona</h4>
                                <i class="fa-solid fa-heart"></i>
                            </div>
                            <div class="text-detalle">
                                <p>$460</p>
                                <p>Práctico comedero/bebedero para llevar en tus paseos o viajes con tu mascota. Es de silicona, se puede plegar para que sea de fácil traslado. Incluye mosquetón para enganchar en la correa, collar, en tu mochila o donde prefieras.</p>
                            </div>
                            
                        </div>
                    </article>
                    <article class="producto-rec">
                        <div class="imagen-producto-rec">
                            <img width="100%" src="images/img8.jpg" alt="Collares">
                        </div>                   
                        <div class="detalles-producto">
                            <div class="producto-favorito">
                                <h4 class="name-product">Collar con pañuelo</h4>
                                <i class="fa-solid fa-heart"></i>
                            </div>
                            <div class="text-detalle">
                                <p>$460</p>
                                <p>Collares para perros realizados en ecocuero. Este modelo, en la cara exterior del collar posee un pañuelo que le otorga un toque de distinción y belleza a la mascota.Fácil de limpiar Venta mayorista. Modelos y colores variados.<p>
                            </div>
                        </div>
                    </article>
                </div>
                
            </section>
        </div>
    </main>
    <footer>
        <nav class="footer_nav">
            <ul class="footer-nav">
                <li><a href="/">Inicio</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Contactos</a></li>
                <li><a href="">Quienes Somos</a></li>
                
            </ul>  
            <ul class="footer-redes">
                <li><a href="">Twitter <i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="">Facebook <i class="fa-brands fa-facebook"></i></i></a></li>
                <li><a href="">Instagram <i class="fa-brands fa-instagram"></i></a></li>
            </ul>              
        </nav>
        
    </footer>
</body>
</html>