<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />

</head>
<body>
    <header>
        <div class="container">

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div> 
            
           <!--  <a href="home.html">   
                <img src="logo.jpg" alt="">
            </a> -->

            <div class="logo"><img src="/images/logo.jpg" alt=""></div>

            <div class="carrito"><i class="fa-solid fa-cart-shopping"></i></div>
            <div class="user"><i class="fa-solid fa-user"></i> </div>

        </div> 

        <div class="header-buscador">
               
            <div class="search-bar">
                <input class="busqueda" type="search" placeholder="Buscar productos, marcas"><button class="lupa">
                    <i class="fas fa-search"></i>
                </button>
            </div>

        </div>          
                
        <nav class="nav-bar">
            <ul class="list">
                <li><a href="">Ingresá <i class="fas fa-sign-in-alt "></i></a></li>
                <li><a href="">Creá tu cuenta <i class="fas fa-credit-card"></i></a></li>
                <li><a href="">Carrito <i class="fas fa-shopping-basket "></i></a></li>
            </ul>
            <ul class="top-list">
                <li><a href="">Inicio</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Contactos</a></li>
                <li><a href="">Quienes Somos</a></li>
            </ul>
        </nav>
                
    </header>



    <section>
        <h3>Crear cuenta</h3>
        <form action="" method="" class="register">

            <div class="input-container">
                <label for="nombre"><h2>Nombre</h2></label>
                <input type="text" class="input-style" placeholder="Ej: Juan" id="nombre" required>
            </div>


            <div class="input-container">
                <label for="mail"><h2>E-mail</h2></label>
                <input type="text" class="input-style" placeholder="Ingrese su E-mail" id="mail" required>
            </div>


            <div class="input-container">
                <label for="telefono"><h2>Teléfono (Opcional)</h2></label>
                <input type="tel" class="input-style" placeholder="Ingrese su numero de Teléfono" id="telefono" >
            </div>

            <div class="input-container">
                <label for="pass"><h2>Contraseña</h2></label>
                <input type="password" class="input-style" placeholder="Ingrese su contraseña" id="pass" required>
            </div>

            <div class="input-container">
                <label for="repass"><h2>Re-ingrese su Contraseña</h2></label>
                <input type="password" class="input-style" placeholder="Re-ingrese su contraseña" id="repass" required>
            </div>


            <div class="input_check-container">
                <label for="recordar">Acepto los <a href="">Terminos y condiciones</a></label>
                <input type="checkbox" name="terminos" id="recordar" required>
            </div>
            <div class="btn-container">
                <button class="submit" type="submit">Registrarme</button>
            </div> 
            
        </form>
    </section>


    <footer>

    </footer>
    
    
</body>
</html>