/* Variables */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */
header{
    width: 100%;
    padding-bottom: 5px;
    background-color: var(--color-Amarillo);
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger-menu{
    background-color: var(--color-VioletaOscuro);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
 
header img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
}
header div.carrito{
    width: 40px;
    font-size: 1.5rem;
}

header div.carrito span{
    display: none;
    margin: 0;
    padding: 0;
    font-size: 8px;
}

header .container div.user{
    display: none;
} 

.header-buscador{
    display: flex;
    justify-content: center;   
}
div.search-bar{
    height: 2rem;
    width: 60%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
input.busqueda{
    outline: none;
    border-style: none;
    margin-left: 5px;
    width: 100%b;
}
header div.header-buscador div.search-bar button{
    border-style: none;
    background-color: black;
    color: white;
    width: 35px;
    height: 32px;
    padding: 6px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
}

nav.nav-bar{
    display: none;
}
nav ul{
    display: flex;
}
li{
    margin: 3px;
    list-style: none;
}


/* FIN HEADER */

/* FORM REGISTER */
section{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
}
h3{
    font-family: var(--fuente-roboto);
    font-size: var(--title);
    align-self: center;
    padding: 1rem;
}

section form.register{
    width: 90%;
    border-radius: 15px;
    border:solid 1px #292BFD;    
    padding: 8% 10px;
    margin: 0 1rem 10px 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section div.input-container{
    margin-bottom: 1.5rem;
    width: 100%;   
}

section .input-style{
    border: solid 1px black;
    outline: none;
    border-radius: 8px;
    height: 2.5rem;
    padding: 0.5rem;
    margin-bottom: 0.2rem;
    background-color: white;
    width: 100%;
    box-shadow: 0px 2px 1px 1px lightgrey;
} 
h2{
    font-family: var(--fuente-roboto);
    font-size: 1rem;
    color: black;
    padding-bottom: 8px;
    align-self: flex-start;
}
div.contraseña{
    margin: 8px;
    align-self: flex-end;
}

div.btn-container, button.submit{
    color: white;
    border: none;
    background-color: #4e51fb;
    border-radius: 8px;
    width: 100%;
    height: 2.5rem;
    margin-bottom: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 1px 1px lightgrey;
}

div.btn-container{
    
    margin: 10px;
}

div.btn-container, button.submit:hover{
    background-color: #292BFD;
    transition: 0.5s;
    width: 100%;  
}
i{
    font-style: normal;   
}





/* MEDIA QUERIES */  
@media (min-width: 361px){
    /* INICIO HEADER */
    header .container{
        padding-right: 8px;
    }

    header .burger-menu{
        display: none;
    }

    header img{
        width: 50px;
        margin: 10px 20px;
        border-radius: 50%;
    }
    header div.search-bar{
        position: absolute;
        top: 25px;
        right: 8.9rem;
        left: 19%;
    }
    input.busqueda{
        outline: none;
        border-style: none;
        margin-left: 5px;
        width: 100%;
        height: 23px;
    }

    header .container div.user{
        display: block;
        width: 30px;
        font-size: 1.5rem;
        margin: 0 3px;
        padding-top: 10px;
    } 

    header .container div.carrito{
        position: relative;
        left: 32%;
        top: 5px;
    }
    header nav.nav-bar{
        display: block;
    }
    ul.list{
        display: none;
    }
    header nav ul{
        justify-content: space-evenly;
        align-items: center;  
    }
    ul.top-list li {
        height: 24px;
        width: 6rem;
        background-color: #4e51fb;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul.top-list a{
        font-family: var(--fuente-roboto);
        font-size: 11px;
        margin: 5px;
        padding: 3px;
        background-color: #4e51fb;
        height: 20px;
        width: 100%;
        color: white;
        text-decoration: none;
        text-align: center;
    }

    /* FIN HEADER */

    /* INICIO FORM REGISTER */  
    section form.register{
        width: 70%;
        border-radius: 15px;
        border:solid 1px #292BFD;    
        padding: 8% 10px;
        margin: 0 1rem 10px 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* FIN FORM REGISTER */
}

@media (min-width: 769px){
    /* INICIO HEADER */
    header img{
        width: 90px;/* esto es lo que el header se vea muy grande en la version desktop */
        margin: 10px 30px;
        border-radius: 50%;
    }

    header div.search-bar{
        position: absolute;
        top: 40px;
        right: 8.9rem;
        left: 20%;
    }
    header .container div.carrito{
        position: relative;
        left: 33%;
        top: -6px;
    }
    header .container div.user{
        display: block;
        width: 30px;
        font-size: 1.5rem;
        margin: 0 3px;
        padding-bottom: 22px;
    }
    header  nav ul.list{
       display:none;
    }
    ul{
        justify-content: space-evenly;
        align-items: center;   
    }
    header nav.nav-bar ul.top-list li {
        height: 28px;
        width: 8rem;
        background-color: #4e51fb;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul.top-list a{
        font-family: var(--fuente-roboto);
        font-size: 14px;
        background-color: #4e51fb;
        color: white;
        text-decoration: none;
    }


    /* FIN HEADER */

    /* INICIO FORM REGISTRO */
    section form.register{
        width: 50%;
        border-radius: 15px;
        border:solid 1px #292BFD;    
        padding: 8% 10px;
        margin: 0 1rem 10px 1rem;
    }

}