<!DOCTYPE html>
<html lang="en">

    <%- include('partials/headb')  %> 

<body>
    <%- include('partials/header') %>  
    
       
    <main class="home__">
    
    
    </main>
    
            
    <%- include('partials/footer')  %> 
  
    <%- include('partials/scripts')  %>

    </body>
</html>