<!DOCTYPE html>
<html lang="es">

    <%- include('partials/head')  %> 

<body>
    <%- include('partials/header') %>  


    <section class="editProductSection">
        <h3>Editar Producto</h3>

        <form action="" method=""  class="form_editProduct">
            <div class="input-container">
                <label for="mail"><h2>Nombre del producto</h2></label>
                <input type="text" class="input-style" placeholder="Nombre del producto" id="mail">
            </div>
            
            <div class="input-container">
                <label for="categoria"><h2>Categoría</h2></label>
                <select name="categoria" id="categoria" class="category">
                    <option value="">Juguetes</option>
                    <option value="">Accesorios</option>
                    <option value="">Almohadones, camas</option>
                    <option value="">Alimentos</option>
                    <option value="">Higiene</option>
                </select>
            </div>
            <div class="input-container">
                <label for="image"><h2>Imagen</h2></label>
                <input type="file" class="form_image" placeholder="Seleccione un archivo" id="image">
            </div>
            <div class="input-container">
                <label for="precio"><h2>Precio</h2></label>
                <input type="number" class="input-style" value="300" id="precio">
            </div>
            <div class="input-container">
                <label for="description"><h2>Descripción</h2></label>
                <textarea name="description" class="input-style" id="description" cols="30" rows="10"></textarea>
            </div>
            <div class="btn-editForm">
                <button class="submit" type="submit">Editar</button>
                <button class="reset" type="reset">Limpiar</button>
            </div> 
            

        </form>
    </section>
    <%- include('partials/footer')%> 
</body>
</html>