<!DOCTYPE html>
<html lang="en">

    <%- include('partials/headb')  %> 

<body>
    <%- include('partials/header') %>  
    <!-- CARRUSEL -->
    <div class="container_carrusel">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/img11.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/img13.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/Banner.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
       
    <main>
    <section class="section-main">   
        <!-- INICIA SECCION PRODUCTOS EN OFERTAS -->
        <section class="section-1">
            <h4 class="sectionTitle">PRODUCTOS EN OFERTAS</h4>
            <article class="card">
                <img width="100%" src="images/img1.jpeg" alt="ARNES">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info" >
                        <p>$810</p>
                    </div>
                    <h4 class="product-name">ARNES CON FORMA DE HUESOS</h4>
                </div>
            </article>
            <article class="card">
                <img width="100%" src="images/img2.jpeg" alt="Correas de Colores">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p>$3.000</p>
                        <p>20% off</p>
                    </div>
                    
                    <h4 class="product-name">Correas de Colores</h4>
                </div>
            </article>
            <article class="card">
                <img width="100%" src="images/img3.jpeg" alt="Cepillo">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p>$5.000</p>
                        <p>30% off</p>
                    </div>
                    
                    <h4 class="product-name">Cepillo para peinar</h4>
                </div>
            </article>
            <article class="card">
                <img width="100%" src="images/img4.jpeg" alt="Cuerdas de juegos">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p>$4.500</p>
                        <p>5% off</p>
                    </div>
                    
                    <h4 class="product-name">Nudos para jugar</h4>
                </div>
            </article>
        </section>
        
        <!-- INICIA SECCION OFERTAS -->
        <section class="section-1">
            <h4 class="sectionTitle">Ofertas</h4>
            <article class="card">
                <img width="100%" src="images/img5.jpeg" alt="Huesos de juguetes">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p>$195</p>
                    </div>
                    <h4 class="product-name">HUESOS DE GOMAS CHICOS</h4>
                </div>
            </article>
            <article class="card">
                <img width="100%" src="images/img3.jpeg" alt="Cepillo">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p>$200</p>
                    </div>
                    <h4 class="product-name">CEPILLO CARDINA MANGO DE MADERA</h4>
                </div>
            </article>
            <article class="card">
                <img width="100%" src="images/img1.jpeg" alt="Perchera para Perros">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info" >
                        <p>$810</p>
                    </div>
                    <h4 class="product-name">ARNES CON FORMAS DE HUESOS</h4>
                </div>
            </article>
            <article class="card">
                <img width="100%" src="images/img2.jpeg" alt="Correas de Colores">
                <div class="card-content">
                    <div class="icon-truck">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="product-info">
                        <p>$77</p>
                    </div>
                    
                    <h4 class="product-name">COLLARES DE NYLON LISOS X UNIDAD</h4>
                </div>
            </article>
        </section>
    </section><!--  -->
        <!-- BANNER -->
   <!--  <div class="banner">
        <img width="100%" src="images/img6.jpg" alt="">
    </div> -->
    </main>
    
            
    <%- include('partials/footer')  %> 
  
    <%- include('partials/scripts')  %>

    </body>
</html>