<header>
    <div class="header__container">

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        

        <div class="logo"> <a href="/"> <img src="/images/logo.jpg" alt=""></a></div>

        <div class="header__carrito"> <a href="/productCart"><i class="fa-solid fa-cart-shopping"></i> </a></div>
        <div class="header__user"> <a href="/login"><i class="fa-solid fa-user"></i></a></div>

    </div> 

    <div class="header-buscador">
           
        <div class="search-bar">
            <input class="busqueda" type="search" placeholder="Buscar productos, marcas"><button class="lupa">
                <i class="fas fa-search"></i>
            </button>
        </div>

    </div>          
            
        <nav class="header__nav">
            
            <ul class="top-list">
                <li><a href="/">Inicio</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Contactos</a></li>
                <li><a href="">Quienes Somos</a></li>
            </ul>
        </nav>
            
</header> 