<!DOCTYPE html>
<html lang="en">
<%- include('../partials/headb') %> 
<body>
  <%- include('partials/header') %> 

      <main class="admin-main">
        <!-- <h1>Controles de administrador</h1>
          <h3>Listado de productos</h3>
            <button>
              <a href="/admin/list">Listado</a>
            </button>

          <h3>Agregar producto</h3>
            <button>
              <a href="/admin/add">Agregar</a>
            </button>

          <h3>Agregar Categorias</h3>
            <button>
              <a href="/admin/categorias">Agregar</a>
            </button> -->
            <!-- <img src="../images/conejo3.png" alt=""> -->
      </main>

      <%- include('../partials/footer') %> 
      
      <%- include('partials/scripts') %> 

</body>
</html>