<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head')  %> 

<body>
    
    <%- include('../partials/header') %> 


    <section class="register">
        <h3>Crear cuenta</h3>
        <form action="" method="" class="register">

            <div class="input-container">
                <label for="nombre"><h2>Nombre</h2></label>
                <input type="text" class="input-style" placeholder="Ej: Juan" id="nombre" required>
            </div>


            <div class="input-container">
                <label for="mail"><h2>E-mail</h2></label>
                <input type="text" class="input-style" placeholder="Ingrese su E-mail" id="mail" required>
            </div>


            <div class="input-container">
                <label for="telefono"><h2>Teléfono (Opcional)</h2></label>
                <input type="tel" class="input-style" placeholder="Ingrese su numero de Teléfono" id="telefono" >
            </div>

            <div class="input-container">
                <label for="pass"><h2>Contraseña</h2></label>
                <input type="password" class="input-style" placeholder="Ingrese su contraseña" id="pass" required>
            </div>

            <div class="input-container">
                <label for="repass"><h2>Re-ingrese su Contraseña</h2></label>
                <input type="password" class="input-style" placeholder="Re-ingrese su contraseña" id="repass" required>
            </div>


            <div class="input_check-container">
                <label for="recordar">Acepto los <a href="">Terminos y condiciones</a></label>
                <input type="checkbox" name="terminos" id="recordar" required>
            </div>
            <div class="btn-container">
                <button class="submit" type="submit">Registrarme</button>
            </div> 
            
        </form>
    </section>

    <%- include('../partials/footer')  %>   
</body>
</html>